*{
    margin: 0px;
    padding: 0px;
}
header{
    background-image: url("images/banner/banner2.png");
    background-repeat: no-repeat;
    height: 100vh;
    position: relative;
}

header h1{
    font-size: 70px;
    margin-bottom: 30px;
}
header button{

    font-size: 18px;
    font-weight: bold;
    padding: 15px;
    border: none;
    border-radius: 5px;
    color: white;
    background-color: rgb(230, 94, 4);
}
.header-content{
    position: absolute;
    left: 58%;
    top: 20%;
    text-align: right;
    
}
header p{
    font-size: 18px;
    color: rgb(80, 79, 79);
    margin-bottom: 30px;
    
}
.about{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;
    padding: 100px 0px;
}
.about img{
    height: 700px;
    width: 550px;
}
.failures{
    text-align: left;
    margin-top: 80px;
}
.failures h1{
    font-size: 40px;
    font-weight: bolder;
    margin-bottom: 20px;
}
.failures p{
    font-size: 18px;
    margin-bottom: 20px;
    color: rgb(87, 85, 85);
}
.failures li{
    font-size: 18px;
    margin-bottom: 15px;
    color: rgb(87, 85, 85);
}
.skills{
    display: flex;
    justify-content: center;
    gap: 90px;
}
.myplans{
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}
.myplans h1{
    font-size: 40px;
    font-weight: 800;
}
.skill h3{
    color: rgb(87, 85, 85);
    font-size: 23px;
    margin-top: 15px;
}
.skill h1 {
    font-size: 30px;
    margin-top: 20px;
} 
.skills-section{
    margin-top: 20px;
    margin-bottom: 80px;
}
.positive{
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
}
.keep-positive{
    background-image: url("/images/gradient1.png"), url("/images/watch.png");
    background-repeat: no-repeat;
    width: 1140px;
    height: 300px;
}
.keep-positive h1{
    font-size: 40px;
    color: white;
    margin-bottom: 30px;
    margin-left: 60px;
    padding-top: 50px;
    
}
.keep-positive button{
    font-size: 20px;
    padding: 15px;
    color: rgb(0, 96, 160);
    background-color: white;
    border: none;
    border-radius: 8px;
    margin-bottom: 30px;
    margin-left: 60px;
}
.footer{
    display: flex;
    justify-content: space-around;
    background-color: black;
    color: white;
    padding: 100px 0px;
}
.right-side h1{
    font-size: 45px;
    margin-bottom: 30px;
}
.right-side p{
    color: rgb(214, 211, 211);
    font-size: 17px;
    margin-bottom: 20px;
}
.right-side li{
    list-style: none;
    color: rgb(214, 211, 211);
    font-size: 17px;
    margin-bottom: 18px;
}
.right-side img{
    margin-right: 10px;
}
.left-side h1{
    font-size: 33px;
    margin-bottom: 28px;

}
.left-side input{
    background: transparent;
    border: 1px solid white;
    padding: 18px;
    color: #F3F3F3;
    border-radius: 5px;
    margin-bottom: 28px;
    font-size: 20px;
}
.left-side button{
    font-size: 20px;
    padding: 15px;
    color: white;
    background-color: #005FAC;
    border-radius: 5px;
    border: none;
}